.c1 {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 50px;
  box-sizing: border-box;
}
.c1 h1 {
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 55px;
}
.c1 h3 {
  font-size: 18px;
  letter-spacing: 1;
}
.c1 p {
  line-height: 23px;
}

.c1text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.c1text_btn {
  display: flex;
}

.c1text h3,
h1,
p {
  margin-bottom: 15px;
}

.c1 .button {
  background-color: #30475e; /* Warna tombol */
  color: rgb(255, 255, 255); /* Menentukan warna teks menjadi putih */
  padding: 15px 22px;
  border: none;
  border-radius: 50px;
  text-align: center;
}
.c1 .button:last-child {
  background-color: #f6f6f6;
  color: #30475e;
  border: 1px solid #30475e;
  margin-left: 20px;
}

.c1img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
}
.c1img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c1logo {
  display: flex;

  opacity: 50%;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px;
}
.c1logo h3 {
  font-size: 15px;
  width: 100%;
}
.c1 .icon {
  font-size: 24px; /* Sesuaikan ukuran ikon */
  color: #30475e; /* Warna ikon */
}
.c1 .google {
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.c1 .youtube {
  font-family: Arial, sans-serif;
  color: #30475e;
  font-weight: bold;
}

.c1 .facebook {
  font-family: Arial, sans-serif;
  color: #30475e;
  font-weight: bold;
}
.c2 {
  background-color: #30475e;
  display: grid;
  color: white;
  box-sizing: border-box;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 30px 5% 30px 5%;
}
.c2_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.c2_1 input {
  width: 100%; /* Mengatur lebar input mengikuti lebar kontainer */
  padding: 10px 15px; /* Padding untuk kenyamanan input */
  font-size: 16px; /* Ukuran teks */
  color: #30475e; /* Warna teks */
  background-color: #f9f9f9; /* Warna latar belakang */
  border: 1px solid #ccc; /* Border untuk input */
  border-radius: 5px; /* Sudut melengkung */
  box-sizing: border-box; /* Agar padding tidak menambah lebar total */
  margin-bottom: 15px;
}
.c2_2 textarea {
  width: 100%;
  height: 225px; /* Mengatur lebar input mengikuti lebar kontainer */
  padding: 10px 15px; /* Padding untuk kenyamanan input */
  font-size: 16px; /* Ukuran teks */
  color: #30475e; /* Warna teks */
  background-color: #f9f9f9; /* Warna latar belakang */
  border: 1px solid #ccc; /* Border untuk input */
  border-radius: 5px; /* Sudut melengkung */
  box-sizing: border-box; /* Agar padding tidak menambah lebar total */
  margin-bottom: 15px;
}
.c2_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.c2_2btn {
  display: flex;
  justify-content: end;

  gap: 30px;
}

.button_revers {
  background-color: #ffffff; /* Warna tombol */ /* Menentukan warna teks menjadi putih */
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.c3 {
  margin-top: 50px;
  gap: 30px;
  display: grid;
}
.c3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c3 h1 {
  font-size: 50px;
}
.c3text {
  display: flex;
  gap: 50px;
  line-height: 20px;
}
.c3img {
  width: 100%;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  filter: grayscale(95%);
}
.c4 {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.c4img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.c4img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(95%);
}
.c4 h1 {
  line-height: 50px;
}
.c4 p {
  line-height: 25px;
}
.c5{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-top: 60px;
}
.c5judul{
  text-align: center;
}
.c5img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  gap: 50px;
  
}
.c5 img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* mobile */
@media (max-width: 1020px) {
  .c1logo {
    grid-column: span 2;
  }
  .c3 img {
    object-position: 30% 100%;
  }
  .c4 img {
    object-position: 20% 0%;
  }
}
@media (max-width: 768px) {
  .c1 {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 50px;
    box-sizing: border-box;
  }
  .c1img {
    order: 3;
  }
  .c1logo {
    grid-column: span 1;
    justify-content: center;
    text-align: center;
  }
  .c1text_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .c1 .button:last-child {
    margin-left: 0;
  }
  .c2 {
    background-color: #30475e;
    margin: auto;
    border-radius: 30px;
    width: 95%;
    display: grid;
    color: white;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 50px 5% 50px 5%;
  }
  .c2_2btn {
    justify-content: center;
    gap: 100px;
  }
  .c3 h1 {
    font-size: 39px;
  }
  .c3judul {
    order: 1;
  }
  .c3img {
    order: 2;
  }
  .c3text {
    order: 3;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
  }
  .c4 {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
  .c4img {
    height: 250px;
    order: 1;
  }
  .c4img img {
    object-position: 0% 40%;
  }
  .c4 p {
    line-height: 20px;
  }
  .c4text {
    order: 2;
  }
  .c5img{
    grid-template-columns: 0.5fr 0.5fr; 
    gap: 20px;
  }
  .c5img img:nth-child(3){
    grid-column: span 2;
    height: 300px;
    object-fit: cover;
    object-position: 0% 30%;
  }
}
